<div class="art-sidebar1"><div class="art-Block">
		    <div class="art-Block-body">

				<div class="art-BlockContent">
		    <div class="art-BlockContent-tl"></div>
		    <div class="art-BlockContent-tr"></div>
		    <div class="art-BlockContent-bl"></div>
		    <div class="art-BlockContent-br"></div>
		    <div class="art-BlockContent-tc"></div>
		    <div class="art-BlockContent-bc"></div>
		    <div class="art-BlockContent-cl"></div>
		    <div class="art-BlockContent-cr"></div>
		    <div class="art-BlockContent-cc"></div>
		    <div class="art-BlockContent-body">

		<ul class="menu">
      <li class="item18"><a href="faq.html"><span>FAQ</span></a></li>
      <li class="item19"><a href="contact.html"><span>問い合わせ</span></a></li></ul>
				<div class="cleared"></div>
		    </div>
		</div>


				<div class="cleared"></div>
		    </div>
		</div>

</div>
