<div class="art-sidebar1"><div class="art-Block">
		    <div class="art-Block-body">

				<div class="art-BlockContent">
		    <div class="art-BlockContent-tl"></div>
		    <div class="art-BlockContent-tr"></div>
		    <div class="art-BlockContent-bl"></div>
		    <div class="art-BlockContent-br"></div>
		    <div class="art-BlockContent-tc"></div>
		    <div class="art-BlockContent-bc"></div>
		    <div class="art-BlockContent-cl"></div>
		    <div class="art-BlockContent-cr"></div>
		    <div class="art-BlockContent-cc"></div>
		    <div class="art-BlockContent-body">

		<ul class="menu">
      <li id="current" class="active item15"><a href="usage.html"><span>基本操作</span></a></li>
      <li class="item16"><a href="example.html"><span>使用例</span></a></li>
      <li class="item24"><a href="draw_mvf.html"><span>応用：手動で平均値関数を描く</span></a></li>
      <li class="item25"><a href="glossary2.html"><span>用語</span></a></li></ul>
				<div class="cleared"></div>
		    </div>
		</div>


				<div class="cleared"></div>
		    </div>
		</div>

</div>
