<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" >
 <head>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="software reliability, software reliability growth models, spreadsheet software" />
  <meta name="title" content="{{ page.title }}" />
  <meta name="author" content="Hiroyuki Okamura" />
  <meta name="description" content="" />
  <title>{{ page.title }}</title>
  <script type="text/javascript" src="media/system/js/mootools.js"></script>
  <script type="text/javascript" src="media/system/js/caption.js"></script>

  <link rel="stylesheet" href="templates/system/css/system.css" type="text/css" />
  <link rel="stylesheet" href="templates/system/css/general.css" type="text/css" />

  <link rel="stylesheet" type="text/css" href="templates/colorsoft/css/template.css" />
  <!--[if IE 6]><link rel="stylesheet" href="/SRATS/templates/colorsoft/css/template.ie6.css" type="text/css" media="screen" /><![endif]-->
  <!--[if IE 7]><link rel="stylesheet" href="/SRATS/templates/colorsoft/css/template.ie7.css" type="text/css" media="screen" /><![endif]-->
  <script type="text/javascript" src="templates/colorsoft/script.js"></script>
 </head>
<body>
<div id="art-page-background-glare">
    <div id="art-page-background-glare-image"></div>
</div>
<div id="art-main">
<div class="art-Sheet">
    <div class="art-Sheet-body">
<div class="module_search"></div>
<div class="art-nav">
	<div class="l"></div>
	<div class="r"></div>
<ul class="art-menu">
  <li id="current" class="active item5"><a href="index.html" class="active"><span class="l"> </span><span class="r"> </span><span class="t">SRATS</span></a></li>
  <li class="item9"><a href="software_reliability.html"><span class="l"> </span><span class="r"> </span><span class="t">ソフトウェア信頼性</span></a></li>
  <li class="item6"><a href="download.html"><span class="l"> </span><span class="r"> </span><span class="t">ダウンロード</span></a></li>
  <li class="item7"><a href="install.html"><span class="l"> </span><span class="r"> </span><span class="t">インストール</span></a></li>
  <li class="item17"><a href="usage.html"><span class="l"> </span><span class="r"> </span><span class="t">使い方</span></a></li>
  <li class="item8"><a href="faq.html"><span class="l"> </span><span class="r"> </span><span class="t">FAQ &amp; 問い合わせ</span></a></li>
  <li class="item20"><a href="http://www.rel.hiroshima-u.ac.jp/okamu/"><span class="l"> </span><span class="r"> </span><span class="t">作成者 Home</span></a></li></ul></div>


<div class="art-contentLayout">

{{ content }}

</div>
<div class="cleared"></div>


<div class="art-Footer">
 <div class="art-Footer-inner">
  <div class="art-Footer-text">
  <p>Copyright &copy; 2010 Hiroyuki Okamura.<br />
All Rights Reserved.</p>

    </div>
 </div>
 <div class="art-Footer-background"></div>
</div>

		<div class="cleared"></div>
    </div>
</div>

</body>
</html>
